#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contacts {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.icon {
  font-size: 20px;
  transition: transform 0.2s, color 0.2s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 40px;
  flex-wrap: wrap;
}

body {
  background-color: black;
}

h1 {
  color: white;
}

p {
  color: white;
}

button {
  color: #1D3A35;
}

.waitlist-button, .join-button {
  background-color: #1D3A35;
  color: white;
  border: none;
}

.waitlist-button:hover, .join-button:hover {
  filter: brightness(2.00);
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 40px;
  text-align: center;
  left: 40px;
}

.icons-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

h3 {
  color: white;
}

.email-field {
  margin-top: 80px;
  justify-content: center;
  text-align: center;
  size: 30px;
} 

.final-sending {
  padding: 70px;
}

.founder-introduction {
  padding: 70px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.company-introduction {
  text-align: center;
  padding: 40px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.customer-hook {
  margin-top: 48px;
  text-align: center;
  padding: 0;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-section {
  margin-bottom: 48px;  /* or 64px */
}

label {
  font-style: italic;
  font-weight: bold;
  color: white;
}

input {
  background: none;
  border: none;
  text-align: center;
  size: 50px;
}

input[type='email'] {
  background: transparent;
  border: 1px solid #29423d;
  border-radius: 8px;
  padding: 10px 14px;
  color: white;
  outline: none;
  width: 260px;
}

.join-button {
  background-color: #1D3A35;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  cursor: pointer;
}

.sign-up label {
  font-style: italic;
  font-weight: bold;
  color: white;
}

.sign-up input[type='email'] {
  background: transparent;
  border: 1px solid #29423d;
  border-radius: 8px;
  padding: 10px 14px;
  color: white;
  outline: none;
  width: 260px;
}